easy_admin:
    entities:
        # List the entity class name you want to manage
        Product:
            label: menu.products
            class: App\Entity\Product
            list:
                fields:
                    - id
                    - { property: 'name', type: 'text', label: 'label.name' }
                    - { property: 'image', type: 'image', label: 'label.image', base_path: '%app.path.product_images%' }
                    - { property: 'description', type: 'text', label: 'label.description' }
                    - { property: 'categories', type: 'array', label: 'label.categories' }
                    - { property: 'createdAt', label: 'label.createdAt' }
                    - { property: 'enabled', label: 'label.enabled' }
            form:
                fields:
                    - { property: 'name', label: 'label.name' }
                    - { property: 'slug', label: 'label.slug' }
                    - { property: 'description', label: 'label.description', type: 'ckeditor' }
                    - { property: 'imageFile', type: 'vich_image', label: 'label.image' }
                    - { property: 'categories', label: 'label.categories', type: 'entity', type_options: { class: 'App\Entity\Category', multiple: true } }
                    - { property: 'price', label: 'label.price' }
                    - { property: 'enabled', label: 'label.enabled' }

        Category:
            label: menu.categories
            name: category_name
            class: App\Entity\Category
            list:
                fields:
                    - id
                    - { property: 'name', type: 'text', label: 'label.name' }
                    - { property: 'description', type: 'text', label: 'label.description' }
                    - { property: 'enabled', label: 'label.enabled' }
                    - { property: 'createdAt', label: 'label.createdAt' }
            form:
                fields:
                    - { property: 'name', label: 'label.name' }
                    - { property: 'slug', label: 'label.slug' }
                    - { property: 'description', type: 'ckeditor', label: 'label.description' }
                    - { property: 'parent', label: 'label.parent' }
                    - { property: 'enabled', label: 'label.enabled' }
        Article:
            label: menu.articles
            class: App\Entity\Article
            list:
                fields:
                    - id
                    - { property: 'title', type: 'text', label: 'label.title' }
                    - { property: 'image', type: 'text', label: 'label.image' }
                    - { property: 'author', type: 'text', label: 'label.author' }
                    - { property: 'tags', type: 'array', label: 'label.tags' }
                    - { property: 'enabled', label: 'label.enabled' }
                    - { property: 'createdAt', label: 'label.createdAt' }
            form:
                fields:
                    - { property: 'title', label: 'label.title' }
                    - { property: 'slug', label: 'label.slug' }
                    - { property: 'content', type: 'ckeditor', label: 'label.content' }
                    - { property: 'imageFile', type: 'vich_image', label: 'label.image' }
                    - { property: 'tags', type: 'entity', type_options: { class: 'App\Entity\Tag', multiple: true }, label: 'label.tags' }
                    - { property: 'author', type: 'text', label: 'label.author' }
                    - { property: 'enabled', label: 'label.enabled' }
        Tag:
            label: menu.tags
            class: App\Entity\Tag
            list:
                fields:
                    - id
                    - { property: 'name', type: 'text', label: 'label.name' }
                    - { property: 'createdAt', label: 'label.createdAt' }
            form:
                fields:
                    - { property: 'name', label: 'label.name' }

        User:
            label: menu.users
            class: App\Entity\User
            list:
                fields:
                    - id
                    - username
                    - email
                    - firstName
                    - lastName
                    - lastLogin
                    - roles
                    - enabled
            form:
                fields:
                    - username
                    - email
                    - firstName
                    - lastName
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'USER': 'ROLE_USER', 'ADMIN': 'ROLE_ADMIN' } } }
#        Image:
#            class: App\Entity\Image
