@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf')  format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue-Italic';
    src: url('../fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Italic.woff') format('woff'), url('../fonts/HelveticaNeue-Italic.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul,ol{
    margin:0;
    padding:0;
}
body{
    font-family: 'HelveticaNeue';
    font-size:14px;
    color: #333;
    background-color: #f3f3f3;
}
.container-header{
    background-color: #0f6cb2;
}
.container-header .widget-top-header{
    padding: 20px 0;
}
.container-header .widget-top-header .logo{
    font-size: 28px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}
.container-header .widget-top-header .input-search-header a{
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 35px;
    background-color: #ffe11b;
    color: #333;
    font-size: 18px;
    z-index: 2;
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    line-height: 35px;
    cursor: pointer !important;
    text-decoration: none !important;
}
.container-header .widget-top-header .input-search-header{
    position: relative;
    overflow: hidden;
}
.container-header .widget-top-header .contact-info h3{
    font-size: 28px;
    color: #fff;
    margin: 0;
}
.container-header .widget-top-header .contact-info p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 4px;
}
.container-header .widget-top-header .input-search-header,
.container-header .widget-top-header .logo{
    padding-top: 10px;
}
.container-header .widget-top-header .input-search-header input{
    height: 35px;
    background-color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    width: 100%;
    border: none !important;
    padding: 0 15px;
    outline: none !important;
}
.container-header .widget-navigation{
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.container-header .widget-navigation ul > li{
    display: inline-block;
    margin-right: 7%;
    position: relative;
}
.container-header .widget-navigation ul > li > a:hover{
    color: #333;
}
.container-header .widget-navigation ul > li > a{
    color: #0074b8;
    text-decoration: none !important;
    height: 40px;
    line-height: 40px;
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
}
.container-header .widget-navigation ul > li:hover .sub-navigation{
    display: block;
}
.container-header .widget-navigation ul > li > .sub-navigation li a:hover{
    background-color: #efefef;
}
.container-header .widget-navigation ul > li > .sub-navigation li a{
    display: block;
    padding: 0 12px;
}
.container-header .widget-navigation ul > li > .sub-navigation li{
    display: block;
    margin-right: 0;
}
.container-header .widget-navigation ul > li > .sub-navigation{
    position: absolute;
    top:100%;
    left: 0;
    min-width: 200px;
    z-index: 2;
    display: none;
    background-color: #fff;
}
.container-main-content{
    padding: 20px 0;
}
.slide-banner-main{
    margin-bottom: 20px;
}
.slide-banner-main .slick-dots{
    bottom: 0;
}
.slide-banner-main .slick-dots li button{
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
}
.slide-banner-main .slick-dots li button:before{
    display: none;
}
.slide-banner-main .slick-dots li.slick-active button{
    background-color: #0f6cb2;
}
.widget-hot-product-home,
.widget-latest-news-home{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.widget-hot-product-home{
    margin-bottom: 20px;
}
.widget-hot-product-home h1,
.widget-latest-news-home h1{
    font-size: 17px;
    font-family: HelveticaNeue-Bold;
    margin:0;
    height: 40px;
    line-height: 40px;
    padding:0 12px;
    border-bottom: 1px solid #efefef;
}
.widget-latest-news-home .list-latest-news-home .column-latest-news-home h2{
    font-size: 18px;
    margin: 10px 0 0;
    font-family: HelveticaNeue-Bold;
    text-transform: capitalize;
}
.widget-latest-news-home .list-latest-news-home .column-latest-news-home a{
    color: #333;
    text-decoration: none !important;
}
.widget-latest-news-home .list-latest-news-home .column-latest-news-home{
    float: left;
    width: 50%;
    padding:0 6px;
}
.widget-latest-news-home .list-latest-news-home{
    padding: 12px 6px;
}
.widget-hot-product-home .list-hot-product .column-hot-product a{
    text-decoration: none !important;
    color: #333;
}
.widget-hot-product-home .list-hot-product .column-hot-product .price-home{
    color: #ff0000;
    font-size: 16px;
    font-family: HelveticaNeue-Bold;
}
.widget-hot-product-home .list-hot-product .column-hot-product .name-product-home{
    font-size: 18px;
    text-transform: capitalize;
    margin:12px 0 5px;
    font-family: HelveticaNeue-Bold;
}
.widget-hot-product-home .list-hot-product .column-hot-product{
    width: 25%;
    padding: 0 6px;
    float: left;
}
.widget-hot-product-home .list-hot-product{
    padding: 12px 6px;
}
footer{
    background-color: #202020;
    padding: 20px 0;
    margin-top: 20px;
    color: #fff;
}
.nav-footer li{
    display: block;
}
.nav-footer li a:hover{
    text-decoration: underline;
}
.nav-footer li a{
    display: block;
    margin: 6px 0;
    color: #fff;
}
.nav-mobile span{
    color: #fff;
    font-size: 22px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 4px;
}
.widget-pagination{
    text-align: center;
    margin-top: 20px;
}
.widget-pagination li a:hover,
.widget-pagination li a.active{
    color: #fff;
    background-color: #0f6cb2;
}
.widget-pagination li a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    color: #333;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none !important;
}
.widget-pagination li{
    display: inline-block;
    margin:0 4px;
}
.container-detail-page .widget-basic-info-detail .price-product-detail{
    color: #ff0000;
    font-size: 18px;
}
.container-detail-page .widget-basic-info-detail .name-product-detail{
    margin:0 0 10px;
    font-size: 26px;
}
.container-detail-page .widget-basic-info-detail,
.container-detail-page .widget-advance-info-detail,
.container-news-detail-page{
    padding: 12px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    margin-bottom: 20px;
}
.container-detail-page .widget-advance-info-detail .title-detail{
    font-size: 22px;
    margin: 0 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-family: HelveticaNeue-Bold;
}
.container-news-detail-page .name-news{
    font-size: 22px;
    font-family: HelveticaNeue-Bold;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.icon-phone-mobile a{
    color: #fff;
}
.icon-phone-mobile{
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 999;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}










