{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
   <div class="container-home-page">
      <div class="container">
         <div class="row clearfix">
            <div class="col-sm-12">
               <div class="slide-banner-main">
                  <div>
                     <img src="images/fabric-displays-splash.jpg" width="100%" />
                  </div>
                  <div>
                     <img src="images/fabric-displays-splash.jpg" width="100%" />
                  </div>
               </div>
               <div class="widget-hot-product-home">
                  <h1>Vải thun mua nhiều</h1>
                  <div class="list-hot-product clearfix">
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="widget-hot-product-home">
                  <h1>Vải jean mua nhiều</h1>
                  <div class="list-hot-product clearfix">
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                     <div class="column-hot-product">
                        <a href="#">
                           <img src="images/vai-thun.jpg" width="100%" />
                           <h2 class="name-product-home">vải thun</h2>
                           <p class="price-home">Liên hệ</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="widget-latest-news-home">
                  <h1>Tin tức</h1>
                  <div class="list-latest-news-home clearfix">
                     <div class="column-latest-news-home">
                        <a href="#">
                           <img src="images/news.jpg" width="100%" />
                           <h2 class="name-latest-news">tin nong</h2>
                        </a>
                     </div>
                     <div class="column-latest-news-home">
                        <a href="#">
                           <img src="images/news.jpg" width="100%" />
                           <h2 class="name-latest-news">tin nong</h2>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

