{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello Google Cloud</h1>
    <p>This demo is created with Symfony skeleton and running on an App Engine Flex.</p>
    <p>-----------------------------------------------------------------------------</p>
    <ul>
        <li>Configured and deployed a fresh Symfony to App Engine Flex.</li>
        <li>Twig installed.</li>
        <li>EasyAdmin installed. <a href="{{ path('easyadmin') }}">login</a> [demo/demo]</li>
    </ul>
{% endblock %}